


<div class="container">
    <button class="btn btn-primary" [routerLink]="['/products']">Home</button>
    <p *ngFor="let error of errors"><small>{{error}}</small></p>
    <form (submit)="editObject()">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" required minlength=5 [(ngModel)]="objectToEdit.name" class="form-control"
                #name=ngModel>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>


        </div>
        <div class="form-group">

            <label for="quantity">Qty</label>
            <input class="form-control" aria-describedby="quantity" type="number" name="quantity" required min
                [(ngModel)]="objectToEdit.quantity" #quantity="ngModel">
            <div *ngIf="objectToEdit.quantity < 0">
                Quantity must be greater than 0
            </div>

            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                <div *ngIf="quantity.errors.required">
                    Quantity is required.
                </div>


            </div>

        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" [(ngModel)]="objectToEdit.price" required #price="ngModel" step=".01"
                class="form-control" aria-describedby="name">
            <div *ngIf="objectToEdit.price < 0">
                Price must be greater than 0
            </div>
            <div *ngIf="price.invalid && (price.dirty || price.touched)">
                <div *ngIf="price.errors.required">
                    Price is required.
                </div>

            </div>
        </div>
      
        <button type="submit" class="btn btn-primary " [disabled]="name.invalid" [disabled]="price.invalid"
            [disabled]="quantity.invalid" [disabled]="objectToEdit.price < 0"
            [disabled]="objectToEdit.quantity < 0">Update</button>
        <button type="submit" (click)="resetValues()" class="btn btn-primary">Reset</button>
        <button type="submit" [routerLink]="['/products']" class="btn btn-primary">Cancel</button>
    </form>

</div>